* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    color: #1F1F1F;
    font-family: "Playfair Display", serif;
    font-weight: 400;
    font-style: normal;
  }

body {
    -webkit-user-select: none;
    user-select: none;
    -webkit-user-drag: none;
    background-color: #FFF1EC;
  }

button {
    cursor: pointer;
    border: none;
  }

a {
    text-decoration: none;
    cursor: pointer;
    color: #fff;
  }

.container {
    max-width: 95%;
    margin: 0 auto;
  }

.justify-between {
    justify-content: space-between;
  }

.next {
    right: 33%;
  }

.flex {
    display: flex;
  }

.flex-column {
    flex-direction: column;
  }

.text-right {
    text-align: right;
  }

.text-center {
    text-align: center;
  }

.item-center {
    align-items: center;
  }

.justify-center {
    justify-content: center;
  }

.base-text-color {
    color: #C62925;
  }

.title {
    font-family: "Poiret One";
    text-transform: uppercase;
    font-weight: 400;
    font-size: 96px;
    color: #C62925;
  }

.prev {
    left: 58.5%;
  }

.slider-button {
    position: absolute;
    top: 30%;
    transform: translateY(-50%);
    background: #C62925;
    border-radius: 50%;
    width: 70px;
    height: 70px;
    color: white;
    border: none;
    padding: 10px;
    cursor: pointer;
    z-index: 1;
    transition: opacity 0.3s;
  }  

.slider-button.prev img {
    transform: rotate(180deg);
  }

.button__with__bg {
    padding: 15px 12px;
    background: #C62925;
    border-radius: 50px;
    color: #ffffff;
    font-family: Inter;
    font-size: 18px;
    width: 100%;
    display: flex;
    justify-content: center;
    transition: transform 0.3s ease;
  }

.search-input {
    flex: 1 1;
    background-image: url(http://localhost:3000/static/media/search.ae22ead11d0f3f83c365.svg);
    background-repeat: no-repeat;
    padding-left: 50px !important;
    background-position: 10px center;
  }

.default__input {
    background-color: transparent;
    border: 1px solid #C62925;
    border-radius: 50px;
    padding: 16px 20px;
      padding-left: 20px;
    font-size: 20px;
    color: #1F1F1F;
    outline: none;
    opacity: 60%;
    width: 100%;
  }

.filter-btn {
    flex: 0 0 5%;
    background-color: transparent;
  }