

.first__block__text {
    flex: 1;
}

.first__block__img {
    flex: 1;
    display: flex;
    justify-content: flex-end;
}

.first__block__img img {
    width: 100%;
}

.first__block__text h1{
    font-family: Comforter, sans-serif;
    font-size: 200px;
}

.first__block__text span {
    font-size: 84px;
}

.first__block__text p {
    text-align: left;
}


.first__block__nav {
    display: flex;
    align-items: center;
    width: 100%;
}

.first__block__nav div {
    height: 54px;
    position: relative;
    padding: 0 10px; /* Добавляет отступы для текста */
}

.first__block__nav__small-block {
    width: 1%;
}

.first__block__nav__main-block {
    width: 24.5%;
}

.first__block__nav > div:nth-child(odd) {
    background-color: #fff; /* Белый фон для нечетных блоков */
    color: #C62925; /* Темный текст на белом фоне */
}

.first__block__nav > div:nth-child(even) {
    background-color: #7d7676; /* Темный фон с 60% прозрачностью для четных блоков */
    color: #fff; /* Белый текст на темном фоне */
}

.first__block__nav > div::after {
    content: '';
    position: absolute;
    top: 50%;
    left: 0px;
    right: 0px;
    height: 2px;
    background-color: #C62925;
    z-index: 0;
}

.first__block__nav > div:nth-child(even)::after {
    background-color: #fff; /* Белая линия для блоков с темным фоном */
}

.first__block__nav div p{
    position: relative;
    z-index: 999; /* Текст поверх линии */
    padding: 0px 10px;
    font-size: 40px;
    font-weight: 500;
    text-align: center;
    line-height: 54px; /* Вертикальное выравнивание текста */
    color: inherit;
    background-color: inherit;
    width: fit-content;
    margin: 0 auto;
}

.second__section {
    margin-top: 100px;
}

.second__section-title {
    display: flex;
}

.second__section-title div {
    flex: 1;
}

.second__section-title h1 {
    flex: 1;
}

.second__section__card-title-1 {
    flex: 2;
}

.second__section__card-title span {
    color: #C62925;
    font-size: 38px;
    font-weight: 500;
    line-height: 38px;
    width: 550px;
}

.second__section__card-title span span {
    font-family: Comforter, sans-serif;
    font-size: 68px;
    font-weight: 400;
    line-height: 68px;
}

.second__section__card-mini-divs div:nth-child(2){
    justify-content: end;
}

.second__section__card-title span:nth-child(2) {
    margin-left: 250px;
}

.second__section__card-title span:nth-child(3) {
    margin-left: 515px;
}

.second__section__card-title span:nth-child(4) {
    margin-left: 780px;
}

.second__section__card-mini-divs .second__section__card-mini:first-child {
    width: 253px;
    margin-top: -70px;
}

.second__section__card-mini-divs .second__section__card-mini:nth-child(2) p{
    width: 332px;
    padding-top: 10px;
}


.second__section__card-mini p,
.second__section__card__mini p{
    color: rgba(31, 31, 31, 0.6);
}

.second__section__card__mini p {
    width: 253px;
}

.second__section__card-title .mobile {
    display: none;
}

.first__block__nav__mobile {
    display: none;
}

.second__section__card-mini img:first-child {
    margin-right: 15px;
}

.news__block__title h1{
    flex: 1;
}

.second__section__card__mini div {
    flex: 1;
}

.second__section__card__mini div:nth-child(2) img {
    width: 100%;
}

.news__block__title div{
    flex: 1;
}

.news__section {
    margin-top: 100px;
}

.news__block__cards {
    flex: 1 0 30%;
    gap: 20px;
    margin-top: 40px;
}

.news__block__cards div:first-child {
    flex: 1;
}

.news__block__cards div:nth-child(2) {
    flex: 1;
}

.news__block__cards__gap {
    gap: 20px;
}

.news__block__cards .news__block__card img {
    width: 100%;
}

.news__block__card {
    display: flex;
    flex-direction: column;
    height: 100%;
    justify-content: space-between;
}

.news__block__card p {
    min-height: 60px;
    margin: 0;
    padding: 10px 0 40px 0;
    display: flex;
    opacity: 80%;
}

.news__block__card button {
    width: max-content;
}

.news__block__cards2 {
    display: flex;
    gap: 20px;
    margin-top: 40px;
}

.news__block__cards2 .news__block__card {
    flex: 1; /* Боковые блоки занимают по 1 части пространства */
    display: flex;
    flex-direction: column;
    height: auto;
}

.news__block__cards2 .news__block__card:nth-child(2) {
    flex: 2; /* Средний блок занимает в 2 раза больше пространства */
}

.news__block__card img {
    width: 100%;
    height: 400px; /* Одинаковая высота для всех изображений */
    object-fit: cover; /* Изображение масштабируется и обрезается по размеру блока */
}

.news__block__card div {
    flex-grow: 1;
    display: flex;
    flex-direction: column;
}

.news__block__card a {
    align-self: flex-start; /* Кнопка располагается внизу блока */
    margin-top: 10px;
}

.news__block__card__btn{
    margin-top: 60px;
}


.articles__block__title {
    justify-content: space-between;
}

.articles__block__title * {
    flex: 1;
}

.articles__block {
    margin-top: 90px;
}

.articles__block__card__activities{
    gap: 25px;
}

.articles__block__card__activities img {
    margin-right: 5px;
}

.articles__block__card__activities p {
    margin-bottom: 0 !important;
}

.articles__block__card {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.articles__block__card p {
    opacity: 80%;
    color: #1F1F1F;
    font-size: 20px;
    margin-bottom: 20px;
}


.articles__block__card h4 {
    margin-bottom: 10px;
    font-size: 20px;
}

.articles__block__cards {
    overflow-x: scroll;
    scroll-behavior: smooth;
    flex: 1;
    display: flex;
    gap: 20px; /* Adjust as needed */
}

.articles__block__cards .articles__block__card {
    flex: 0 0 calc(33.33% - 20px);
    user-select: none;
    cursor: default;
}

.articles__block__cards .articles__block__card__img {
    height: 487px;
    width: 100%;
}

.articles__block__card .button__without__bg {
    margin: 20px 0;
}

.articles__block__cards::-webkit-scrollbar {
    height: 10px;
}

.articles__block__cards::-webkit-scrollbar-thumb {
    background-color: #ccc;
    border-radius: 5px;
}

.slider-container {
    position: relative;
    display: flex;
    align-items: center;
    width: 100%;
    overflow: hidden; /* Скрыть карточки, выходящие за пределы контейнера */
}


.slider-button {
    position: absolute;
    top: 30%;
    transform: translateY(-50%);
    background: #C62925;
    border-radius: 50%;
    width: 70px;
    height: 70px;
    color: white;
    border: none;
    padding: 10px;
    cursor: pointer;
    z-index: 1;
    transition: opacity 0.3s;
}

.prev {
    left: 58.5%; /* Position the "prev" button on the left */
}

.slider-button.prev img {
    transform: rotate(180deg);
}

.next {
    right: 33%; /* Position the "next" button on the right */
}

.articles__block__card__btn {
    margin-top: 40px;
}

