<!doctype html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport"
        content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link
    href="https://fonts.googleapis.com/css2?family=Comforter&family=Playfair+Display:ital,wght@0,400..900;1,400..900&family=Poiret+One&family=Inter:wght@400;700&display=swap"
    rel="stylesheet">
  <link rel="stylesheet" href="./css/partners.css">
  <link rel="stylesheet" href="./css/main.css">
  <link rel="stylesheet" href="./css/index.css">
  <link rel="stylesheet" href="./css/media.css">
  <title>Default</title>
</head>
<body>
<header class="header">
  <div class="container flex justify-between items-center">
    <div class="header__logo">
      <a href="index.html">
        <img src="./images/logo.svg" alt="Logo">
      </a>
    </div>
    <nav class="header__nav flex item-center">
      <ul class="flex">
        <li><a href="index.html">Главная</a></li>
        <li><a href="articles.html">Статьи</a></li>
        <li><a href="news-best.html">Новости</a></li>
        <li><a href="partners.html">Партнёры</a></li>
      </ul>
    </nav>
    <div class="header__actions flex item-center">
      <a href="edit-profile.html" class="user-icon">
        <img src="images/user.svg" alt="User Logo">
      </a>
      <div class="burger-menu" id="burgerMenu">
        <span class="burger-icon"></span>
      </div>
    </div>
  </div>
  <div class="mobile-menu" id="mobileMenu">
    <nav class="mobile-nav">
      <ul>
        <li><a href="edit-profile.html" class="user-icon">
          <img src="images/user.svg" alt="User Logo">
        </a></li>
        <li><a href="index.html">Главная</a></li>
        <li><a href="articles.html">Статьи</a></li>
        <li><a href="news-best.html">Новости</a></li>
        <li><a href="partners.html">Партнёры</a></li>
      </ul>
    </nav>
  </div>
</header>
<main>
  <section class="container">
    <h1 class="title text-center main__title">партнёры</h1>
    <div class="search">
      <div class="search__input">
        <svg width="35" height="35" viewBox="0 0 35 35" fill="none" xmlns="http://www.w3.org/2000/svg">
          <path fill-rule="evenodd" clip-rule="evenodd"
                fill="black"/>
        </svg>
        <input class="default__input" type="text"/>
      </div>
      <button class="search__filter-btn">
        <svg width="36" height="32" viewBox="0 0 36 32" fill="none" xmlns="http://www.w3.org/2000/svg">
          <g opacity="0.8">
            <path d="M1 4.80664H7.91437" stroke="black" stroke-miterlimit="10" stroke-linecap="round"/>
            <path d="M20.2461 4.80664H34.9999" stroke="black" stroke-miterlimit="10" stroke-linecap="round"/>
            <path
              d="M14.0672 8.61403C16.1648 8.61403 17.8653 6.90957 17.8653 4.80701C17.8653 2.70446 16.1648 1 14.0672 1C11.9695 1 10.269 2.70446 10.269 4.80701C10.269 6.90957 11.9695 8.61403 14.0672 8.61403Z"
              stroke="black" stroke-miterlimit="10" stroke-linecap="round"/>
            <path d="M34.9998 15.9492H28.0854" stroke="black" stroke-miterlimit="10" stroke-linecap="round"/>
            <path d="M15.7538 15.9492H1" stroke="black" stroke-miterlimit="10" stroke-linecap="round"/>
            <path
              d="M21.9329 19.7566C24.0306 19.7566 25.731 18.0521 25.731 15.9496C25.731 13.847 24.0306 12.1426 21.9329 12.1426C19.8353 12.1426 18.1348 13.847 18.1348 15.9496C18.1348 18.0521 19.8353 19.7566 21.9329 19.7566Z"
              stroke="black" stroke-miterlimit="10" stroke-linecap="round"/>
            <path d="M35.0001 27.1934H23.2305" stroke="black" stroke-miterlimit="10" stroke-linecap="round"/>
            <path d="M10.8985 27.1934H1" stroke="black" stroke-miterlimit="10" stroke-linecap="round"/>
            <path
              d="M17.0774 31.0007C19.1751 31.0007 20.8756 29.2963 20.8756 27.1937C20.8756 25.0912 19.1751 23.3867 17.0774 23.3867C14.9798 23.3867 13.2793 25.0912 13.2793 27.1937C13.2793 29.2963 14.9798 31.0007 17.0774 31.0007Z"
              stroke="black" stroke-miterlimit="10" stroke-linecap="round"/>
          </g>
        </svg>
      </button>
      <div class="popup search__popup" id="popup">
        <div class="popup-content text-left flex justify-center item-center flex-column">
          <button class="close-btn filter__close" id="closePopup">&times;</button>
          <div class="flex flex-column">
            <h2>Сортировать:</h2>
            <label><input class="filter__option" type="checkbox" name="category1">От А до Я</label>
            <label><input class="filter__option" type="checkbox" name="category2">От Я до А</label>
            <label><input class="filter__option" type="checkbox" name="category3">По городу</label>
            <label><input class="filter__option" type="checkbox" name="category4">По колличеству статей</label>
            <label><input class="filter__option" type="checkbox" name="category4">По рейтингу</label>
          </div>
        </div>
      </div>
    </div>
  </section>
  <section class="cards container">
    <div class="partners__card">
      <div class="card__image-wrap">
        <img class="card__image" src="images/partner-image.png" alt="">
        <div class="card__contact-sm">
          <h3 class="card__point card__contact-title">Связаться</h3>
          <div class="flex items-center" style="gap: 10px;">
            <a href="#">
              <svg width="20" height="20" viewBox="0 0 20 20" fill="#1F1F1F" xmlns="http://www.w3.org/2000/svg">
                <path
                  fill="#1F1F1F"/>
              </svg>
            </a>
            <a href="#">
              <svg width="21" height="21" viewBox="0 0 21 21" fill="#1F1F1F" xmlns="http://www.w3.org/2000/svg"
                   xmlns:xlink="http://www.w3.org/1999/xlink">
                <rect width="21" height="21" fill="url(#pattern0_433_3054)"/>
                <defs>
                  <pattern id="pattern0_433_3054" patternContentUnits="objectBoundingBox" width="1" height="1">
                    <use xlink:href="#image0_433_3054" transform="scale(0.00142857)"/>
                  </pattern>
                  <image id="image0_433_3054" width="700" height="700"/>
                </defs>
              </svg>
            </a>
            <a href="#">
              <svg width="21" height="13" viewBox="0 0 21 13" fill="#1F1F1F" xmlns="http://www.w3.org/2000/svg">
                <path
                  fill="#1F1F1F"/>
              </svg>
            </a>
            <a href="#">
              <svg width="21" height="21" viewBox="0 0 21 21" fill="#1F1F1F" xmlns="http://www.w3.org/2000/svg"
                   xmlns:xlink="http://www.w3.org/1999/xlink">
                <rect opacity="0.7" width="21" height="21" fill="url(#pattern0_433_4808)"/>
                <defs>
                  <pattern id="pattern0_433_4808" patternContentUnits="objectBoundingBox" width="1" height="1">
                    <use xlink:href="#image0_433_4808" transform="scale(0.000625)"/>
                  </pattern>
                  <image id="image0_433_4808" width="1600" height="1600"/>
                </defs>
              </svg>
            </a>
            <a href="#">
              <svg width="20" height="20" viewBox="0 0 20 20" fill="#1F1F1F" xmlns="http://www.w3.org/2000/svg">
                <path
                  fill="#1F1F1F"/>
              </svg>
            </a>
          </div>
        </div>
        <div class="card__image-info">
          <div class="flex gap-2 items-center">
            <div class="flex items-center article__count-sm">
              <svg width="23" height="21" viewBox="0 0 23 21" fill="none" xmlns="http://www.w3.org/2000/svg">
                <path
                  fill="black"/>
              </svg>
              <p style="font-size: 24px">2</p>
            </div>
            <div class="flex items-center article__count-sm">
              <svg width="19" height="19" viewBox="0 0 19 19" fill="none" xmlns="http://www.w3.org/2000/svg">
                <path
                  fill="#1F1F1F"/>
              </svg>
              <span style="font-size: 24px">2</span>
            </div>
          </div>
          <div>
            <span>Москва</span>
            <p>Косметолог</p>
          </div>
        </div>
      </div>
      <div class="partners__card-content">
        <div class="flex justify-between first__block">
          <div>
            <div class="flex card__identity">
              <h2 class="base-text-color card__name">Кристина Новикова </h2>
              <div class="flex items-center article__count">
                <svg width="23" height="21" viewBox="0 0 23 21" fill="none" xmlns="http://www.w3.org/2000/svg">
                  <path
                    fill="black"/>
                </svg>
                <p style="font-size: 24px">2</p>
              </div>
            </div>
            <span class="card__location">Москва</span>
          </div>
          <div class="flex card__rating">
            <div class="flex items-center article__count">
              <svg width="19" height="19" viewBox="0 0 19 19" fill="none" xmlns="http://www.w3.org/2000/svg">
                <path
                  fill="#1F1F1F"/>
              </svg>
              <span style="font-size: 24px">2</span>
            </div>
            <div class="card__stars-wrap">
              <div class="flex items-center card__stars">
                <svg width="30" height="30" viewBox="0 0 30 30" fill="none" xmlns="http://www.w3.org/2000/svg">
                  <path
                    fill="#FFE100"/>
                </svg>
                <svg width="30" height="30" viewBox="0 0 30 30" fill="none" xmlns="http://www.w3.org/2000/svg">
                  <path
                    fill="#FFE100"/>
                </svg>
                <svg width="30" height="30" viewBox="0 0 30 30" fill="none" xmlns="http://www.w3.org/2000/svg">
                  <path
                    fill="#FFE100"/>
                </svg>
                <svg width="30" height="30" viewBox="0 0 30 30" fill="none" xmlns="http://www.w3.org/2000/svg">
                  <path
                    fill="#FFE100"/>
                </svg>
                <svg width="30" height="30" viewBox="0 0 30 30" fill="none" xmlns="http://www.w3.org/2000/svg">
                  <path
                    fill="#FFE100"/>
                </svg>
                <svg width="31" height="30" viewBox="0 0 31 30" fill="none" xmlns="http://www.w3.org/2000/svg">
                  <path
                    fill="#FFE100"/>
                </svg>
              </div>
              <p class="text-right ">4.0</p>
            </div>
          </div>
        </div>
        <p class="card__job">Косметолог</p>
        <h3 class="card__point">О партнёре</h3>
        <p class="card__description">Высокий уровень навыков и опыта в косметологии. Провожу механические и химические
          чистки лица, пилинги. Делаю «уколы молодости» — инъекции, которые разглаживают морщины, увеличивают губы и так
          далее. Провожу процедуры по увлажнению, питанию, тонизированию кожи.</p>
        <h3 class="card__point">Портфолио</h3>
        <div class="slider-container partner__slider">
          <div class="articles__block__cards flex">
            <button class="slider-button prev" style="display: none;">
              <img src="./images/right-arrow.svg" alt="">
            </button>
            <div class="partner__card">
              <div>
                <img src="./images/articles1.png" alt="" class="card__portfolio">
              </div>
            </div>
            <div class="partner__card">
              <div>
                <img src="./images/articles1.png" alt="" class="card__portfolio">
              </div>
            </div>
            <div class="partner__card">
              <div>
                <img src="./images/articles1.png" alt="" class="card__portfolio">
              </div>
            </div>
            <div class="partner__card">
              <div>
                <img src="./images/articles1.png" alt="" class="card__portfolio">
              </div>
            </div>
            <div class="partner__card">
              <div>
                <img src="./images/articles1.png" alt="" class="card__portfolio">
              </div>
            </div>
            <button class="slider-button next">
              <img src="./images/right-arrow.svg" alt="">
            </button>
          </div>
        </div>
        <div class="card__contact">
          <h3 class="card__point card__contact-title">Связаться</h3>
          <div class="flex items-center" style="gap: 10px;">
            <a href="#">
              <svg width="20" height="20" viewBox="0 0 20 20" fill="#1F1F1F" xmlns="http://www.w3.org/2000/svg">
                <path
                  fill="#1F1F1F"/>
              </svg>
            </a>
            <a href="#">
              <svg width="21" height="21" viewBox="0 0 21 21" fill="none" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
                <rect width="21" height="21" fill="url(#pattern0_516_2305)"/>
                <defs>
                  <pattern id="pattern0_516_2305" patternContentUnits="objectBoundingBox" width="1" height="1">
                    <use xlink:href="#image0_516_2305" transform="scale(0.00142857)"/>
                  </pattern>
                </defs>
              </svg>
            </a>
            <a href="#">
              <svg width="21" height="13" viewBox="0 0 21 13" fill="#1F1F1F" xmlns="http://www.w3.org/2000/svg">
                <path
                  fill="#1F1F1F"/>
              </svg>
            </a>
            <a href="#">
              <svg width="21" height="21" viewBox="0 0 21 21" fill="none" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
                <rect opacity="0.7" width="21" height="21" fill="url(#pattern0_516_1186)"/>
                <defs>
                  <pattern id="pattern0_516_1186" patternContentUnits="objectBoundingBox" width="1" height="1">
                    <use xlink:href="#image0_516_1186" transform="scale(0.000625)"/>
                  </pattern>
                </defs>
              </svg>
            </a>
            <a href="#">
              <svg width="20" height="20" viewBox="0 0 20 20" fill="#1F1F1F" xmlns="http://www.w3.org/2000/svg">
                <path
                  fill="#1F1F1F"/>
              </svg>
            </a>
          </div>
        </div>
      </div>
    </div>
  </section>
  <section class="connect__section">
    <div class="container flex flex-column">
      <div class="connect__section__title flex">
        <div></div>
        <h1 class="title">Связаться <br>с нами</h1>
      </div>
      <div class="connect__section__social__media__form flex">
        <div class="connect__section__social__media flex flex-column justify-between">
          <div>
            <p>Присоединяйтесь к нам в социльных сетях</p>
            <div class="flex">
              <a href=""><img src="./images/instagram.svg" alt=""></a>
              <a href=""><img src="./images/vk.svg" alt=""></a>
              <a href=""><img src="./images/telegram.svg" alt=""></a>
              <a href=""><img src="./images/facebook.svg" alt=""></a>
            </div>
          </div>
          <div>
            <p><a href="">Политика конфиденциальности</a></p>
            <p><a href="">Политика обработки файлов cookie</a></p>
          </div>
        </div>
        <div class="connect__section__form">
          <p>Пожалуйста, отправьте запрос, и мы свяжемся с вами как можно скорее.</p>
          <div class="flex flex-column">
            <label for="message" class="form-label">Чем мы можем вам помочь?</label>
            <textarea id="message" class="form-input large-input"></textarea>
            <label for="email" class="form-label">Ваш E-mail?</label>
            <input type="email" id="email" class="form-input small-input">
            <button type="submit" class="button__without__bg">Отправить</button>
          </div>
        </div>
      </div>
    </div>
  </section>
</main>
<footer class="container">
  <p>
    © 2024 <br>
    Все права защищены. Полное или частичное копирование материалов сайта без согласования с редакцией запрещено.
  </p>
</footer>
<script src="js/index.js"></script>
<script src="./js/menu-burger.js"></script>
</body>
</html>