<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Comforter&family=Playfair+Display:ital,wght@0,400..900;1,400..900&family=Poiret+One&family=Inter:wght@400;700&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="./css/main.css">
    <link rel="stylesheet" href="./css/index.css">
    <link rel="stylesheet" href="./css/product.css">
    <link rel="stylesheet" href="./css/media.css">
    <title>Продукт</title>
</head>
<body>
    <header class="header">
    <div class="container flex justify-between items-center">
        <div class="header__logo">
            <a href="index.html">
                <img src="./images/logo.svg" alt="Logo">
            </a>
        </div>
        <nav class="header__nav flex item-center">
            <ul class="flex">
                <li><a href="index.html">Главная</a></li>
                <li><a href="articles.html">Статьи</a></li>
                <li><a href="news-best.html">Новости</a></li>
                <li><a href="partners.html">Партнёры</a></li>
            </ul>
        </nav>
        <div class="header__actions flex item-center">
            <a href="edit-profile.html" class="user-icon">
                <img src="images/user.svg" alt="User Logo">
            </a>
            <div class="burger-menu" id="burgerMenu">
                <span class="burger-icon"></span>
            </div>
        </div>
    </div>
    <div class="mobile-menu" id="mobileMenu">
        <nav class="mobile-nav">
            <ul>
                <li><a href="edit-profile.html" class="user-icon">
                    <img src="images/user.svg" alt="User Logo">
                </a></li>
                <li><a href="index.html">Главная</a></li>
                <li><a href="articles.html">Статьи</a></li>
                <li><a href="news-best.html">Новости</a></li>
                <li><a href="partners.html">Партнёры</a></li>
            </ul>
        </nav>
    </div>
</header>

    <main>
        <section class="product__section container">
            <div class="product__img relative">
                <p>Культовый в своем роде: Dior Addict Lip Maximizer в оттенке 001 Pink</p>
                <img src="images/product1.png" alt="Product Image">
            </div>
            <div class="product__description flex">
                <div>
                    <h4>Анастасия Гринько</h4>
                    <p>Добавлено 10.07.2024</p>
                    <div class="flex item-center">
                        <img src="./images/eye-icon.svg" alt="">
                        <p>4987</p>
                    </div>
                </div>
                <div>
                    <p>Сначала, по традиции, пару слов об упаковке: блеск продается в коробочке, которую я сразу выкинула, поэтому на фото она отсутствует. Оформление у флакона роскошное, как и всегда у декоративки Диор. Ограничитель хороший, закрывается флакон надежно. На мой вкус — сделать бы спонж побольше и пушистее. У блеска плотная текстура и конфетный, сладкий запах, который я почти не чувствую на губах. Объем — 6 мл, думаю, на полгода мне хватит точно.
                        Оттенок абсолютно прозрачный. У меня очень бледные губы и любой полутон и оттенок сразу дает о себе знать, но здесь даже плотным слоем их оттенок не меняется. И теперь о том, почему именно ОН. Формат блесков я никогда не жаловала, но теперь подумываю приобрести еще парочку.</p>
                </div>
                <div>
                    <p>Он безумно комфортный, приятно холодит губы, довольно стойкий для блеска (около 5 часов без приема пищи). Блеск не растекается по контуру. Не знаю, как, но к нему гораздо меньше липнут волосы на ветру, это очень важно, признайтесь)) Блеск не сбивается на стыке губ. Он выглядит незаметно, но все равно ставит свой акцент и привлекает внимание. Если не знаешь, чем накрасить губы — стопроцентно, это будет данный блеск.Средство хорошо дружит с другими продуктами — можно нанести на другую помаду или добавить что-нибудь сверху. Все будет выглядеть красиво. Я надеюсь, никто не ждал заявленного увеличения губ от него?))) Если только визуального, и если только самую капельку.</p>
                </div>
            </div>
            <div class="product__slider">
                <div class="product__slider__left"></div>
                <div class="product__slider__right articles__section">
                    <div class="articles__block">
                        <div class="slider-container">
                            <div class="articles__block__cards flex">
                                <button class="slider-button prev" style="display: none;">
                                    <img src="./images/right-arrow.svg" alt="">
                                </button>
                                <div class="articles__block__card">
                                    <div>
                                        <img src="./images/articles1.png" alt="" class="articles__block__card__img">
                                    </div>
                                </div>
                                <div class="articles__block__card">
                                    <div>
                                        <img src="./images/articles2.png" alt="" class="articles__block__card__img">
                                    </div>
                                </div>
                                <div class="articles__block__card">
                                    <div>
                                        <img src="./images/articles3.png" alt="" class="articles__block__card__img">
                                    </div>
                                </div>
                                <div class="articles__block__card">
                                    <div>
                                        <img src="./images/articles1.png" alt="" class="articles__block__card__img">
                                    </div>
                                </div>
                                <div class="articles__block__card">
                                    <div>
                                        <img src="./images/articles2.png" alt="" class="articles__block__card__img">
                                    </div>
                                </div>
                                <div class="articles__block__card">
                                    <div>
                                        <img src="./images/articles3.png" alt="" class="articles__block__card__img">
                                    </div>
                                </div>
                                <button class="slider-button next">
                                    <img src="./images/right-arrow.svg" alt="">
                                </button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="product__activities">
                <div></div>
                <div class="flex text-center" style="gap: 20px;">
                    <div class="product__activity">
                        <div>
                            <img src="./images/like.svg" alt="">
                        </div>
                        <p>135</p>
                    </div>
                    <div class="product__activity">
                        <div>
                            <img src="./images/dislike.svg" alt="">
                        </div>
                        <p>28</p>
                    </div>
                    <div class="product__activity">
                        <div>
                            <img src="./images/star.svg" alt="">
                        </div>
                        <p>56</p>
                    </div>
                    <div class="product__activity">
                        <div>
                            <img src="./images/comments.svg" alt="">
                        </div>
                        <p>11</p>
                    </div>
                </div>
            </div>
            <div class="product__create__comment">
                <div></div>
                <div class="flex flex-column" style="gap: 20px;">
                    <p>Комментарии</p>
                    <input type="text">
                    <button class="button__without__bg">Отправить</button>
                </div>
            </div>
            <div class="product__comments">
                <div></div>
                <div>
                    <div class="product__comment ">
                        <div class="flex flex-column">
                            <h3>Анна Иванова</h3>
                            <p>27.07.2024, 17:18</p>
                        </div>
                        <div>
                            <p>Шикарный продукт, который для меня имеет только один минус — не самая бюджетная цена. В остальном, идеал! Спасибо за такой красивый пост)))</p>
                        </div>
                    </div>
                    <div class="product__comment ">
                        <div class="flex flex-column">
                            <h3>Марина Никитина</h3>
                            <p>26.07.2024, 13:25</p>
                        </div>
                        <div>
                            <p>Покупала единожды. Очень понравился, но у меня от него першит в горле (( а вообще, я до сих пор страдаю по снятому с производства dior lip polish  </p>
                        </div>
                    </div>
                </div>
            </div>
        </section>
         <section class="connect__section">
        <div class="container flex flex-column">
            <div class="connect__section__title flex">
                <div></div>
                <h1 class="title">Связаться <br>с нами</h1>
            </div>
            <div class="connect__section__social__media__form flex">
                <div class="connect__section__social__media flex flex-column justify-between">
                    <div>
                        <p>Присоединяйтесь к нам в социльных сетях</p>
                        <div class="flex">
                            <a href=""><img src="./images/instagram.svg" alt=""></a>
                            <a href=""><img src="./images/vk.svg" alt=""></a>
                            <a href=""><img src="./images/telegram.svg" alt=""></a>
                            <a href=""><img src="./images/facebook.svg" alt=""></a>
                        </div>
                    </div>
                    <div>
                        <p><a href="">Политика конфиденциальности</a></p>
                        <p><a href="">Политика обработки файлов cookie</a></p>
                    </div>
                </div>
                <div class="connect__section__form">
                    <p>Пожалуйста, отправьте запрос, и мы свяжемся с вами как можно скорее.</p>
                    <div class="flex flex-column">
                        <label for="message" class="form-label">Чем мы можем вам помочь?</label>
                        <textarea id="message" class="form-input large-input"></textarea>
                        <label for="email" class="form-label">Ваш E-mail?</label>
                        <input type="email" id="email" class="form-input small-input">
                        <button type="submit" class="button__without__bg">Отправить</button>
                    </div>
                </div>
            </div>
        </div>
    </section>
    </main>
    <footer class="container">
        <p>
            © 2024 <br>
            Все права защищены. Полное или частичное копирование материалов сайта без согласования с редакцией запрещено.
        </p>
    </footer>
    <script src="js/index.js"></script>
    <script src="./js/menu-burger.js"></script>

</body>
</html>
