.articles__section__block {
    margin-top: 90px;
  }

.articles__section__block__title {
    justify-content: space-between;
  }

.articles__section__block__title * {
    flex: 1 1;
  }

.articles__section__block__cards {
    scroll-behavior: smooth;
    flex: 1 1;
    gap: 20px;
    margin-top: 60px;
    flex-wrap: wrap;
    justify-content: space-around;
  }

.articles__section__block__card__btn {
    margin-top: 40px;
  }

.slider-button {
    display: none;
  }

.slider-button.show {
    display: block; /* Показывается, если добавлен класс 'show' */
  }