.article-detail-page {
    max-width: 800px; /* Максимальная ширина страницы статьи */
    margin: 0 auto; /* Центрируем страницу статьи */
    padding: 20px; /* Внутренний отступ для всего контейнера */
    border-radius: 15px; /* Закругленные углы для контейнера */
}

.article-detail-page h1 {
    font-size: 28px; /* Размер заголовка */
    font-weight: bold; /* Жирный шрифт */
    margin-bottom: 20px; /* Отступ снизу заголовка */
    text-align: center; /* Центрируем заголовок */
    color: #C62925; /* Цвет заголовка */
}

.article-detail-image {
    width: 100%; /* Изображение занимает всю ширину контейнера */
    max-width: 800px; /* Максимальная ширина изображения */
    height: auto; /* Высота изображения сохраняет пропорции */
    object-fit: cover; /* Заполнение контейнера, сохраняя пропорции */
    border-radius: 15px; /* Закругленные углы изображения */
    margin-bottom: 20px; /* Отступ снизу изображения */
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* Легкая тень для изображения */
    display: block; /* Ставим изображение блочным элементом для центрирования */
    margin-left: auto; /* Центрируем изображение по горизонтали */
    margin-right: auto; /* Центрируем изображение по горизонтали */
}

.article-detail-page p {
    font-size: 18px; /* Размер текста статьи */
    line-height: 1.6; /* Межстрочный интервал для лучшей читаемости */
    color: #333; /* Цвет текста статьи */
    margin-bottom: 20px; /* Отступ между параграфами */
    text-align: justify; /* Выравнивание текста по ширине */
}

.article-detail-page .author-details {
    font-size: 14px; /* Размер шрифта для информации об авторе */
    color: #888; /* Более светлый цвет для менее важной информации */
    margin-bottom: 20px; /* Отступ снизу для блока информации об авторе */
    text-align: right; /* Выравнивание информации об авторе по правому краю */
}