.articles__title {
    margin-top: 50px;
}

.articles__controls {
    display: flex;
    width: 100%;
    position: relative;
    gap: 20px;
  }

.articles__controls__child {
    flex: 1;
  }

.articles__controls button {
    font-family: "Playfair Display", sans-serif;
    font-size: 20px;
  }

.write-article-btn {
    flex: 0 0 20%;
  }

.articles__types {
    margin-top: 40px;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(150px, 1fr));
    gap: 10px;
  }

.articles__types button {
    font-family: "Playfair Display", sans-serif;
    width: 100%;
    padding: 9px 12px;
    opacity: 100%;
  }

.articles__types button a {
    font-size: 20px;
    color: #1F1F1F !important;
    font-weight: 500;
  }

.articles__controls button {
    font-family: "Playfair Display", sans-serif;
    font-size: 20px;
  }

.articles__block__card {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }

.articles__block__cards {
    scroll-behavior: smooth;
    flex: 1;
    gap: 20px;
    margin-top: 60px;
    flex-wrap: wrap;
    justify-content: space-around;
  }

.articles__block__cards 
.articles__block__card {
    flex: 0 0 calc(33.33% - 20px);
    user-select: none;
    cursor: default;
  }

.articles__block__card 
.button__without__bg {
    margin: 20px 0;
  }

.articles__block__cards 
.articles__block__card__img {
    width: 100%;
  }

.articles__block__cards__div {
    position: relative;
  }

.articles__block__card__activities {
    gap: 25px;
  }  

.articles__block__card__activities img {
    margin-right: 5px;
  }

.articles__top__button {
    height: 65px;
    width: 65px;
    border-radius: 50%;
    background-color: transparent;
    border: 1px solid rgba(198, 41, 37, 1);
    position: absolute;
    right: 10px;
    bottom: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
  }